@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.line {
  width: 100px;
  height: 6px;
  background-color: #07bbf3;
  border-radius: 15%;
  margin: 33px 0 33px 0;
}

@media screen and (max-width: 756px) {
  .line {
    margin: 20px 0;
  }
}

.page-wrap {
  width: 62.5%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .page-wrap {
    width: 80%;
  }
}

@media screen and (max-width: 756px) {
  .page-wrap {
    width: 100%;
    padding: 0 20px;
  }
}

.header {
  background: #7681a0;
  background-image: url(img/header_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
}

.header .page-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 756px) {
  .header .page-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .page-wrap .headerText {
  width: 53%;
  margin-top: 120px;
  margin-bottom: 120px;
  padding-right: 8%;
}

@media screen and (max-width: 756px) {
  .header .page-wrap .headerText {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 0;
  }
}

.header .page-wrap .headerText .headerText__h {
  font-size: 44px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

@media screen and (max-width: 756px) {
  .header .page-wrap .headerText .headerText__h {
    font-size: 26px;
    line-height: 31px;
  }
}

.header .page-wrap .headerText .headerText__article {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

@media screen and (max-width: 756px) {
  .header .page-wrap .headerText .headerText__article {
    font-size: 15px;
    line-height: 27px;
  }
}

.header .page-wrap .header__img {
  width: 47%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 756px) {
  .header .page-wrap .header__img {
    width: 100%;
    padding-bottom: 25px;
  }
}

.header .page-wrap .header__img img {
  width: 100%;
}

.sec-block .page-wrap {
  padding-top: 80px;
}

@media screen and (max-width: 756px) {
  .sec-block .page-wrap {
    padding-top: 40px;
  }
}

.sec-block .page-wrap .sec-block__h {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #444444;
}

@media screen and (max-width: 756px) {
  .sec-block .page-wrap .sec-block__h {
    font-size: 26px;
    line-height: 31px;
  }
}

.sec-block .page-wrap .sec-block__article {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: #444444;
}

@media screen and (max-width: 756px) {
  .sec-block .page-wrap .sec-block__article {
    font-size: 15px;
    line-height: 27px;
  }
}

.sec-block .page-wrap .sec-block-table {
  padding: 80px 0;
}

@media screen and (max-width: 756px) {
  .sec-block .page-wrap .sec-block-table {
    padding: 40px 0;
  }
}

.sec-block .page-wrap .sec-block-table .sec-block-mobile {
  display: none;
}

.sec-block .page-wrap .sec-block-table .sec-block-mobile .table__item {
  margin: 0 20px;
}

.sec-block .page-wrap .sec-block-table .sec-block-mobile .table__item .table-header {
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 756px) {
  .sec-block .page-wrap .sec-block-table .sec-block-mobile {
    display: block;
  }
}

.sec-block .page-wrap .sec-block-table .table__item {
  padding: 17.5px 30px;
  background: #07bbf3;
  -webkit-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.sec-block .page-wrap .sec-block-table .table__item .table-subheader {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.sec-block .page-wrap .sec-block-table .table__item .table-header {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.sec-block .page-wrap .sec-block-table .f-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 756px) {
  .sec-block .page-wrap .sec-block-table .f-row {
    display: none;
  }
}

.sec-block .page-wrap .sec-block-table .f-row .table__item {
  margin: 0 20px 20px 0;
}

.sec-block .page-wrap .sec-block-table .s-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 756px) {
  .sec-block .page-wrap .sec-block-table .s-row {
    display: none;
  }
}

.sec-block .page-wrap .sec-block-table .s-row .table__item {
  margin: 0 20px;
}

.third-block {
  background: #7681a0;
  position: relative;
  background-image: url(img/third_block_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
}

.third-block .page-wrap {
  padding-top: 80px;
  padding-bottom: 463px;
}

@media screen and (max-width: 756px) {
  .third-block .page-wrap {
    padding-top: 40px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 650px) {
  .third-block .page-wrap {
    padding-bottom: 150px;
  }
}

.third-block .page-wrap .third-block__header {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  padding-bottom: 33px;
}

@media screen and (max-width: 756px) {
  .third-block .page-wrap .third-block__header {
    font-size: 26px;
    line-height: 31px;
    padding-bottom: 0;
    text-align: left;
  }
}

.third-block .page-wrap .line {
  margin: auto;
  margin-bottom: 43px;
}

@media screen and (max-width: 756px) {
  .third-block .page-wrap .line {
    margin: 20px 0;
  }
}

.third-block .page-wrap video {
  width: 62%;
  left: 19%;
  position: absolute;
}

@media screen and (max-width: 756px) {
  .third-block .page-wrap video {
    width: 90%;
    left: 5%;
  }
}

.forth-block .page-wrap {
  padding-top: 160px;
}

@media screen and (max-width: 756px) {
  .forth-block .page-wrap {
    padding-top: 150px;
  }
}

@media screen and (max-width: 550px) {
  .forth-block .page-wrap {
    padding-top: 100px;
  }
}

@media screen and (max-width: 450px) {
  .forth-block .page-wrap {
    padding-top: 60px;
  }
}

.forth-block .page-wrap .forth-block-text .text-block {
  padding-top: 27px;
  padding-right: 70px;
}

@media screen and (max-width: 756px) {
  .forth-block .page-wrap .forth-block-text .text-block {
    padding-right: 0;
    padding-bottom: 70px;
  }
}

.forth-block .page-wrap .forth-block-text .text-block .forth-block__header {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #444444;
}

@media screen and (max-width: 756px) {
  .forth-block .page-wrap .forth-block-text .text-block .forth-block__header {
    font-size: 26px;
    line-height: 31px;
  }
}

.forth-block .page-wrap .forth-block-text .text-block .forth-block__article {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: #444444;
}

.forth-block .page-wrap .forth-block-text .values-block {
  background: #f3fafe;
  border-radius: 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 40px 15px 40px;
}

.forth-block .page-wrap .forth-block-text .values-block .line {
  margin: 21px 0;
}

.forth-block .page-wrap .forth-block-text .values-block .values-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #808080;
}

.forth-block .page-wrap .forth-block-text .values-block .values-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.forth-block .page-wrap .forth-block-text .values-block .values-item img {
  margin-right: 15px;
}

.forth-block .page-wrap .forth-block-text .values-block .values-item p {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: #444444;
}

.forth-block .page-wrap .forth-block-table {
  padding: 80px 0;
}

@media screen and (max-width: 756px) {
  .forth-block .page-wrap .forth-block-table {
    padding: 40px 0;
  }
}

.forth-block .page-wrap .forth-block-table .table__header {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  color: #444444;
}

@media screen and (max-width: 756px) {
  .forth-block .page-wrap .forth-block-table .table__header {
    font-size: 26px;
    line-height: 31px;
    text-align: left;
  }
}

.forth-block .page-wrap .forth-block-table .line {
  margin: 31px auto;
}

@media screen and (max-width: 756px) {
  .forth-block .page-wrap .forth-block-table .line {
    margin: 23px 0;
  }
}

.forth-block .page-wrap .forth-block-table .table-wrap {
  width: 66%;
  margin: auto;
}

@media screen and (max-width: 756px) {
  .forth-block .page-wrap .forth-block-table .table-wrap {
    width: 100%;
  }
}

.forth-block .page-wrap .forth-block-table .table-wrap .f-row {
  padding-bottom: 20px;
}

@media screen and (max-width: 756px) {
  .forth-block .page-wrap .forth-block-table .table-wrap .f-row {
    display: none;
  }
}

@media screen and (max-width: 756px) {
  .forth-block .page-wrap .forth-block-table .table-wrap .s-row {
    display: none;
  }
}

.forth-block .page-wrap .forth-block-table .table-wrap .forth-block-table-mobile {
  display: none;
}

@media screen and (max-width: 756px) {
  .forth-block .page-wrap .forth-block-table .table-wrap .forth-block-table-mobile {
    display: block;
  }
}

.forth-block .page-wrap .forth-block-table .table-wrap .table-item {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  background: #07bbf3;
  -webkit-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 12px 30px;
  margin: 0 10px;
}

.fifth-block {
  background: #7681a0;
  background-image: url(img/fifth_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  position: relative;
}

.fifth-block .page-wrap .fifth-block__header {
  padding-top: 80px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 756px) {
  .fifth-block .page-wrap .fifth-block__header {
    padding-top: 40px;
    font-size: 26px;
    line-height: 31px;
    text-align: left;
  }
}

.fifth-block .page-wrap .line {
  margin: 30px auto;
}

@media screen and (max-width: 756px) {
  .fifth-block .page-wrap .line {
    margin: 23px 0;
  }
}

.fifth-block .page-wrap .slider-wrap {
  position: relative;
  top: 50px;
}

@media screen and (max-width: 756px) {
  .fifth-block .page-wrap .slider-wrap {
    top: 23px;
  }
}

@media screen and (max-width: 756px) {
  .fifth-block .page-wrap .slider-wrap .prev,
  .fifth-block .page-wrap .slider-wrap .next {
    width: 30px;
  }
  .fifth-block .page-wrap .slider-wrap .prev img,
  .fifth-block .page-wrap .slider-wrap .next img {
    width: 100%;
  }
}

.fifth-block .page-wrap .slider-wrap .fifth-block-slider__item {
  width: 62.5%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 756px) {
  .fifth-block .page-wrap .slider-wrap .fifth-block-slider__item {
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  .fifth-block .page-wrap .slider-wrap .fifth-block-slider__item {
    height: 160px;
  }
}

@media screen and (max-width: 420px) {
  .fifth-block .page-wrap .slider-wrap .fifth-block-slider__item {
    height: 130px;
  }
}

.fifth-block .page-wrap .slider-wrap .fifth-block-slider .slide1 {
  background-image: url(img/slide1.jpg);
}

.fifth-block .page-wrap .slider-wrap .fifth-block-slider .slide2 {
  background-image: url(img/slide2.jpg);
}

.fifth-block .page-wrap .slider-wrap .prev {
  position: absolute;
  z-index: 2;
  top: 48%;
  left: 30px;
}

@media screen and (max-width: 756px) {
  .fifth-block .page-wrap .slider-wrap .prev {
    left: 10px;
  }
}

.fifth-block .page-wrap .slider-wrap .next {
  position: absolute;
  z-index: 2;
  top: 48%;
  right: 30px;
  left: auto;
}

@media screen and (max-width: 756px) {
  .fifth-block .page-wrap .slider-wrap .next {
    right: 10px;
  }
}

.sixth-block .page-wrap {
  padding-top: 160px;
}

@media screen and (max-width: 756px) {
  .sixth-block .page-wrap {
    padding-top: 60px;
  }
}

.sixth-block .page-wrap .sixth-block__header {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  color: #444444;
}

@media screen and (max-width: 756px) {
  .sixth-block .page-wrap .sixth-block__header {
    font-size: 26px;
    line-height: 31px;
    text-align: left;
  }
}

.sixth-block .page-wrap .line {
  margin: 30px auto;
}

@media screen and (max-width: 756px) {
  .sixth-block .page-wrap .line {
    margin: 23px 0;
  }
}

.sixth-block .page-wrap .benefits-table {
  width: 82%;
  margin: auto;
}

.sixth-block .page-wrap .benefits-item {
  padding: 0 10px;
}

@media screen and (max-width: 756px) {
  .sixth-block .page-wrap .benefits-item {
    padding: 15px 0;
  }
}

.sixth-block .page-wrap .benefits-item__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-bottom: 22px;
}

.sixth-block .page-wrap .benefits-item__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #07bbf3;
  padding-bottom: 15px;
}

.sixth-block .page-wrap .benefits-item__article {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
}

.sixth-block .page-wrap .benefits-f-row {
  padding-bottom: 50px;
  padding-top: 15px;
}

@media screen and (max-width: 756px) {
  .sixth-block .page-wrap .benefits-f-row {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.sixth-block .page-wrap .benefits-s-row {
  padding-bottom: 85px;
}

@media screen and (max-width: 756px) {
  .sixth-block .page-wrap .benefits-s-row {
    padding-bottom: 25px;
    padding-top: 0;
  }
}

.footer {
  background-color: #7681a0;
  background-image: url(img/footer_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  position: relative;
}

.footer .page-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .page-wrap .footer-text-block {
  width: 33%;
  padding-top: 80px;
}

@media screen and (max-width: 1400px) {
  .footer .page-wrap .footer-text-block {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .footer .page-wrap .footer-text-block {
    width: 50%;
  }
}

@media screen and (max-width: 756px) {
  .footer .page-wrap .footer-text-block {
    width: 60%;
    padding-top: 50px;
  }
}

@media screen and (max-width: 530px) {
  .footer .page-wrap .footer-text-block {
    width: 100%;
  }
}

.footer .page-wrap .footer-text-block__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

@media screen and (max-width: 1000px) {
  .footer .page-wrap .footer-text-block__title {
    font-size: 26px;
    line-height: 31px;
  }
}

.footer .page-wrap .footer-text-block .line {
  width: 85px;
}

@media screen and (max-width: 756px) {
  .footer .page-wrap .footer-text-block .line {
    margin-bottom: 45px;
  }
}

.footer .page-wrap .footer-text-block .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

.footer .page-wrap .footer-text-block .footer-social .social-icons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .page-wrap .footer-text-block .footer-social .social-icons__item {
  padding: 0 10px;
}

.footer .page-wrap .footer-text-block .footer-social .footer-social__join {
  width: 100px;
  background: #07bbf3;
  border: 1px solid #07bbf3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
}

.footer .page-wrap .footer-text-block .footer-social .footer-social__join a {
  font-size: 12px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 2px;
  padding: 15%;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.footer .page-wrap .footer-img-block {
  width: 450px;
  position: absolute;
  bottom: 0;
  top: auto;
  left: 50%;
}

@media screen and (max-width: 1200px) {
  .footer .page-wrap .footer-img-block {
    width: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .footer .page-wrap .footer-img-block {
    width: 350px;
  }
}

.footer .page-wrap .footer-img-block img {
  width: 100%;
}

@media screen and (max-width: 756px) {
  .footer .page-wrap .footer-img-block {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */