@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.line {
  width: 100px;
  height: 6px;
  background-color: #07bbf3;
  border-radius: 15%;
  margin: 33px 0 33px 0;
}

.header {
  width: 100%;
  background: #7681a0;
  background-image: url(img/header_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
}

.header .page_wrap {
  width: 62.5%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .page_wrap .headerText {
  width: 53%;
  margin-top: 120px;
  margin-bottom: 120px;
  padding-right: 8%;
}

.header .page_wrap .headerText .headerText__h {
  font-size: 44px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

.header .page_wrap .headerText .headerText__article {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.header .page_wrap .header__img {
  width: 47%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .page_wrap .header__img img {
  width: 100%;
}

.sec_block {
  width: 100%;
}

.sec_block .page_wrap {
  width: 62.5%;
  margin: auto;
  padding-top: 80px;
}

.sec_block .page_wrap .sec_block__h {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #444444;
}

.sec_block .page_wrap .sec_block__article {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: #444444;
}

.sec_block .page_wrap .sec_block_table {
  padding: 80px 0;
}

.sec_block .page_wrap .sec_block_table .table__item {
  padding: 17.5px 30px;
  background: #07bbf3;
  -webkit-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.sec_block .page_wrap .sec_block_table .table__item .table_subheader {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.sec_block .page_wrap .sec_block_table .table__item .table_header {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.sec_block .page_wrap .sec_block_table .f_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec_block .page_wrap .sec_block_table .f_row .table__item {
  margin: 0 20px 20px 0;
}

.sec_block .page_wrap .sec_block_table .s_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec_block .page_wrap .sec_block_table .s_row .table__item {
  margin: 0 20px;
}

.third_block {
  width: 100%;
  background: #7681a0;
  position: relative;
  background-image: url(img/third_block_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
}

.third_block .page_wrap {
  width: 62.5%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 463px;
}

.third_block .page_wrap .third_block__header {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  padding-bottom: 33px;
}

.third_block .page_wrap .line {
  margin: auto;
  margin-bottom: 43px;
}

.third_block .page_wrap video {
  width: 1200px;
  position: absolute;
}

.forth_block {
  width: 100%;
}

.forth_block .page_wrap {
  width: 62.5%;
  padding-top: 160px;
  margin: auto;
}

.forth_block .page_wrap .forth_block_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forth_block .page_wrap .forth_block_text .text_block {
  width: 62%;
  padding-top: 27px;
}

.forth_block .page_wrap .forth_block_text .text_block .forth_block__header {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #444444;
}

.forth_block .page_wrap .forth_block_text .text_block .forth_block__article {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: #444444;
}

.forth_block .page_wrap .forth_block_text .values_block {
  width: 28%;
  background: #f3fafe;
  border-radius: 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 40px 15px 40px;
}

.forth_block .page_wrap .forth_block_text .values_block .line {
  margin: 21px 0;
}

.forth_block .page_wrap .forth_block_text .values_block .values_header {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #808080;
}

.forth_block .page_wrap .forth_block_text .values_block .values_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.forth_block .page_wrap .forth_block_text .values_block .values_item img {
  margin-right: 15px;
}

.forth_block .page_wrap .forth_block_text .values_block .values_item p {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: #444444;
}

.forth_block .page_wrap .forth_block_table {
  margin: 80px 0;
}

.forth_block .page_wrap .forth_block_table .table__header {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  color: #444444;
}

.forth_block .page_wrap .forth_block_table .line {
  margin: 31px auto;
}

.forth_block .page_wrap .forth_block_table .table_wrap .f_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.forth_block .page_wrap .forth_block_table .table_wrap .s_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.forth_block .page_wrap .forth_block_table .table_wrap .table_item {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  background: #07bbf3;
  -webkit-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 12px 30px;
  margin: 0 10px;
}
/*# sourceMappingURL=style.css.map */