@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body{
    overflow-x: hidden;
}
.line {
  width: 100px;
  height: 6px;
  background-color: #07bbf3;
  border-radius: 15%;
  margin: 33px 0 33px 0;
  @media screen and (max-width: 756px) {
    margin: 20px 0;
  }
}
.page-wrap {
  width: 62.5%;
  margin: auto;
  @media screen and (max-width: 1200px) {
    width: 80%;
  }
  @media screen and (max-width: 756px) {
    width: 100%;
    padding: 0 20px;
  }
}
.header {
  background: #7681a0;
  background-image: url(img/header_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  .page-wrap {
    display: flex;
    @media screen and (max-width: 756px) {
      flex-direction: column;
    }
    .headerText {
      width: 53%;
      margin-top: 120px;
      margin-bottom: 120px;
      padding-right: 8%;
      @media screen and (max-width: 756px) {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-right: 0;
      }
      .headerText__h {
        font-size: 44px;
        font-weight: 700;
        line-height: 53px;
        letter-spacing: 0px;
        text-align: left;
        color: #ffffff;
        @media screen and (max-width: 756px) {
          font-size: 26px;
          line-height: 31px;
        }
      }
      .headerText__article {
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0px;
        text-align: left;
        color: white;
        @media screen and (max-width: 756px) {
          font-size: 15px;
          line-height: 27px;
        }
      }
    }
    .header__img {
      width: 47%;
      @media screen and (max-width: 756px) {
        width: 100%;
        padding-bottom: 25px;
      }
      img {
        width: 100%;
      }
      align-self: center;
    }
  }
}
.sec-block {
  .page-wrap {
    padding-top: 80px;
    @media screen and (max-width: 756px) {
      padding-top: 40px;
    }
    .sec-block__h {
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0px;
      text-align: left;
      color: #444444;
      @media screen and (max-width: 756px) {
        font-size: 26px;
        line-height: 31px;
      }
    }
    .sec-block__article {
      font-size: 15px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0px;
      text-align: left;
      color: #444444;
      @media screen and (max-width: 756px) {
        font-size: 15px;
        line-height: 27px;
      }
    }
    .sec-block-table {
      padding: 80px 0;
      @media screen and (max-width: 756px) {
        padding: 40px 0;
      }
      .sec-block-mobile {
        display: none;
        .table__item {
          margin: 0 20px;
          .table-header {
            font-size: 24px;
            line-height: 29px;
          }
        }
        @media screen and (max-width: 756px) {
          display: block;
        }
      }
      .table__item {
        padding: 17.5px 30px;
        background: #07bbf3;
        box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        .table-subheader {
          font-size: 15px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0px;
          text-align: left;
          color: white;
        }
        .table-header {
          font-size: 30px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0px;
          text-align: left;
          color: white;
        }
      }
      .f-row {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 756px) {
          display: none;
        }
        .table__item {
          margin: 0 20px 20px 0;
        }
      }
      .s-row {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 756px) {
          display: none;
        }
        .table__item {
          margin: 0 20px;
        }
      }
    }
  }
}
.third-block {
  background: #7681a0;
  position: relative;
  background-image: url(img/third_block_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  .page-wrap {
    padding-top: 80px;
    padding-bottom: 463px;
    @media screen and (max-width: 756px) {
      padding-top: 40px;
      padding-bottom: 200px;
    }
    @media screen and (max-width: 650px) {
      padding-bottom: 150px;
    }
    .third-block__header {
      width: 100%;
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0px;
      text-align: center;
      color: white;
      padding-bottom: 33px;
      @media screen and (max-width: 756px) {
        font-size: 26px;
        line-height: 31px;
        padding-bottom: 0;
        text-align: left;
      }
    }
    .line {
      margin: auto;
      margin-bottom: 43px;
      @media screen and (max-width: 756px) {
        margin: 20px 0;
      }
    }
    video {
      width: 62%;
      left: 19%;
      position: absolute;
      @media screen and (max-width: 756px) {
        width: 90%;
        left: 5%;
      }
    }
  }
}
.forth-block {
  .page-wrap {
    padding-top: 160px;
    @media screen and (max-width: 756px) {
      padding-top: 150px;
    }
    @media screen and (max-width: 550px) {
      padding-top: 100px;
    }
    @media screen and (max-width: 450px) {
      padding-top: 60px;
    }
    .forth-block-text {
      .text-block {
        padding-top: 27px;
        padding-right: 70px;
        @media screen and (max-width: 756px) {
          padding-right: 0;
          padding-bottom: 70px;
        }
        .forth-block__header {
          font-size: 30px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 0px;
          text-align: left;
          color: #444444;
          @media screen and (max-width: 756px) {
            font-size: 26px;
            line-height: 31px;
          }
        }
        .forth-block__article {
          font-size: 15px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0px;
          text-align: left;
          color: #444444;
        }
      }
      .values-block {
        background: #f3fafe;
        border-radius: 6px;
        height: fit-content;
        padding: 30px 40px 15px 40px;
        .line {
          margin: 21px 0;
        }
        .values-header {
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
          color: #808080;
        }
        .values-item {
          display: flex;
          margin-bottom: 15px;
          img {
            margin-right: 15px;
          }
          p {
            font-size: 15px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0px;
            text-align: left;
            color: #444444;
          }
        }
      }
    }
    .forth-block-table {
      padding: 80px 0;
      @media screen and (max-width: 756px) {
        padding: 40px 0;
      }
      .table__header {
        width: 100%;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: center;
        color: #444444;
        @media screen and (max-width: 756px) {
          font-size: 26px;
          line-height: 31px;
          text-align: left;
        }
      }
      .line {
        margin: 31px auto;
        @media screen and (max-width: 756px) {
          margin: 23px 0;
        }
      }
      .table-wrap {
        width: 66%;
        margin: auto;
        @media screen and (max-width: 756px) {
          width: 100%;
        }
        .f-row {
          padding-bottom: 20px;
          @media screen and (max-width: 756px) {
            display: none;
          }
        }
        .s-row {
          @media screen and (max-width: 756px) {
            display: none;
          }
        }
        .forth-block-table-mobile {
          display: none;
          @media screen and (max-width: 756px) {
            display: block;
          }
        }
        .table-item {
          font-size: 15px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0px;
          text-align: center;
          color: white;
          background: #07bbf3;
          box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.3);
          border-radius: 6px;
          padding: 12px 30px;
          margin: 0 10px;
        }
      }
    }
  }
}

.fifth-block {
  background: #7681a0;
  background-image: url(img/fifth_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  position: relative;
  .page-wrap {
    .fifth-block__header {
      padding-top: 80px;
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0px;
      text-align: center;
      color: white;
      @media screen and (max-width: 756px) {
        padding-top: 40px;
        font-size: 26px;
        line-height: 31px;
        text-align: left;
      }
    }
    .line {
      margin: 30px auto;
      @media screen and (max-width: 756px) {
        margin: 23px 0;
      }
    }
    .slider-wrap {
      position: relative;
      top: 50px;
      @media screen and (max-width: 756px) {
        top: 23px;
      }
      .prev,
      .next {
        @media screen and (max-width: 756px) {
          width: 30px;
          img {
            width: 100%;
          }
        }
      }
      .fifth-block-slider {
        &__item {
          width: 62.5%;
          height: 500px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          @media screen and (max-width: 756px) {
            height: 250px;
          }
          @media screen and (max-width: 500px) {
            height: 160px;
          }
          @media screen and (max-width: 420px) {
            height: 130px;
          }
        }
        .slide1 {
          background-image: url(img/slide1.jpg);
        }
        .slide2 {
          background-image: url(img/slide2.jpg);
        }
      }
      .prev {
        position: absolute;
        z-index: 2;
        top: 48%;
        left: 30px;
        @media screen and (max-width: 756px) {
          left: 10px;
        }
      }
      .next {
        position: absolute;
        z-index: 2;
        top: 48%;
        right: 30px;
        left: auto;
        @media screen and (max-width: 756px) {
          right: 10px;
        }
      }
    }
  }
}
.sixth-block {
  .page-wrap {
    padding-top: 160px;
    @media screen and (max-width: 756px) {
      padding-top: 60px;
    }

    .sixth-block__header {
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0px;
      text-align: center;
      color: #444444;
      @media screen and (max-width: 756px) {
        font-size: 26px;
        line-height: 31px;
        text-align: left;
      }
    }
    .line {
      margin: 30px auto;
      @media screen and (max-width: 756px) {
        margin: 23px 0;
      }
    }
    .benefits-table {
      width: 82%;
      margin: auto;
    }
    .benefits-item {
      padding: 0 10px;
      @media screen and (max-width: 756px) {
        padding: 15px 0;
      }
      &__img {
        width: fit-content;
        margin: auto;
        padding-bottom: 22px;
      }
      &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
        color: #07bbf3;
        padding-bottom: 15px;
      }
      &__article {
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0px;
        text-align: center;
      }
    }
    .benefits-f-row {
      padding-bottom: 50px;
      padding-top: 15px;
      @media screen and (max-width: 756px) {
        padding-bottom: 0;
      padding-top: 0;
      }
    }
    .benefits-s-row {
      padding-bottom: 85px;
      @media screen and (max-width: 756px) {
        padding-bottom: 25px;
      padding-top: 0;
      }
    }
  }
}
.footer {
  background-color: #7681a0;
  background-image: url(img/footer_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  position: relative;
  .page-wrap {
    display: flex;
    justify-content: space-between;
    .footer-text-block {
      width: 33%;
      padding-top: 80px;
      @media screen and (max-width: 1400px) {
        width: 40%;
      }
      @media screen and (max-width: 900px) {
        width: 50%;
       }
      @media screen and (max-width: 756px) {
        width: 60%;
        padding-top: 50px;
      }
      @media screen and (max-width: 530px) {
        width: 100%;
      }
      &__title {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
        color: white;
        @media screen and (max-width: 1000px) {
           font-size: 26px;
           line-height: 31px;
          }
      }
      .line {
        width: 85px;
        @media screen and (max-width: 756px) {
           margin-bottom: 45px;
          }
      }
      .footer-social {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        .social-icons {
          width: 50%;
          display: flex;
          justify-content: space-between;
          &__item {
            padding: 0 10px;
          }
        }
        .footer-social__join {
          width: 100px;
          background: #07bbf3;
          border: 1px solid #07bbf3;
          box-sizing: border-box;
          border-radius: 22px;
          a {
            font-size: 12px;
            font-weight: 700;
            line-height: 34px;
            letter-spacing: 2px;
            padding: 15%;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
          }
        }
      }
    }
    .footer-img-block {
      width: 450px;
      position: absolute;
      bottom: 0;
      top: auto;
      left: 50%;
      @media screen and (max-width: 1200px) {
        width: 400px;
      }
      @media screen and (max-width: 1000px) {
        width: 350px;
      }
      img{
          width: 100%;
      }
      @media screen and (max-width: 756px) {
        display: none;
      }
    }
  }
}
